.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.error {
    text-align: left;
}

.link {
    color: #1b1e21;
    font-size: 40px;
}

.visit {
    font-size: 40px;
}
